@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --color: white;
  --second-color: #262626;
  --second-color-2: #8e8e8e;
  --bg-color: #ffffff;
  --second-bg-color: #f1efef;
  --border-color: #dbdbdb;
  --second-border-color: #efefef;
  --gray-second-color: #737373;
  --link-color: #0095f6;
  --ig-separator: 219, 219, 219;
  --font-roboto: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-roboto);
}

body {
  background-color: #fff;
  overflow-x: hidden;
  font-family: var(--font-roboto);
}

.container-profile {
  width: 100%;
  display: grid;
  grid-template-columns: 0.7fr 0.9fr 0.9fr 0.9fr;
  grid-template-areas:
    "sidebar-profile profile-user profile-user profile-user"
    "sidebar-profile profile-user profile-user profile-user"
    "sidebar-profile content-profile content-profile content-profile"
    "sidebar-profile content-profile-2 content-profile-2 content-profile-2"
    "sidebar-profile content-profile-2 content-profile-2 content-profile-2"
    "sidebar-profile content-profile-2 content-profile-2 content-profile-2"
    "sidebar-profile footer footer footer";
}

.profile-user {
  grid-area: profile-user;
  height: 74vh;
  background-color: var(--bg-color);
  border-bottom: 1px solid rgb(var(--ig-separator));
  width: 935px;
  height: 500px;
  overflow-x: hidden;
}

.profile-user .profile-image img {
  margin: 90px 0 0 100px;
}

.sidebar-profile {
  height: 100vh;
  /* width: 18.7%; */
  grid-area: sidebar-profile;
  background-color: var(--bg-color);
  z-index: 1;
}

.profile-user .action-name-user .name-user.message-btn button,
.profile-user .action-name-user .follow-btn button,
.profile-user .action-name-user .message-btn button,
.profile-user .action-name-user .addcontact-btn button {
  color: var(--second-color);
  border: none;
  background-color: var(--second-border-color);
}

.profile-user .profile-image .threads-user-profile button {
  padding: 3px solid var(--bg-color) 3px solid var(--bg-color);
  font-size: 0.7rem;
  background-color: var(--second-border-color);
}

.profile-user .profile-image .work p {
  color: var(--second-color-2);
}

.profile-user .profile-image .bio-user-profile {
  line-height: 5mm;
  width: 290px;
}

.profile-user .profile-image .social-media-user-profile p a {
  color: #00376b;
}

.profile-user .profile-image .highlights {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  margin-left: 55px;
  margin-top: 8%;
  display: "";
}

.profile-user .profile-image .highlights .header-profile {
  width: 85px;
  height: 85px;
  padding: 10px 10px;
  background: var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  cursor: pointer;
}

.profile-user .profile-image .highlights .header-profile img {
  z-index: 2;
  width: 82px;
  height: 82px;
  margin: -0.3px 0 0 0.3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--bg-color);
}

.profile-user .profile-image .highlights .header-profile .title-highlight {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 22.4% 0 0 0;
}

.content-profile {
  height: 10vh;
  grid-area: content-profile;
  background-color: var(--bg-color);
  flex-grow: 1;
}

.content-profile .header-profile table td {
  padding: 20px 20px;
  font-size: 0.8rem;
  cursor: pointer;
  color: var(--gray-second-color);
  position: relative;
}

.content-profile .header-profile table td::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0.8px;
  background-color: black;
  transform: translateX(50%);
  transition: width 0.3s;
}

.content-profile .header-profile table td.active-profile::before {
  width: 50%;
}

.content-profile .header-profile table td span i.kontak-icon {
  font-size: 1rem;
}

.content-profile .header-profile table thead tr {
  display: flex;
  justify-content: center;
}

.content-profile .header-profile table thead tr td {
  margin: 0 10px;
  cursor: pointer;
}

.content-profile-2 {
  grid-area: content-profile-2;
  width: 935px;
  min-height: 50vh;
}

.content-profile-2 .icon {
  margin: 6% 0 0 46.5%;
}

.content-profile-2 .text-null-post {
  margin: 10px 0 0 40.6%;
}

.content-profile-2 .content-item {
  display: grid;
  grid-template-columns: repeat(3, 0.9fr);
  gap: 5px;
}

.content-profile-2 .content-item {
  list-style: none;
}

.content-profile-2 img {
  display: block;
  width: 100%;
  z-index: 1;
}

.content-profile-2 .content-item li img:hover {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.content-profile-2 .content-item li .icon {
  color: var(--bg-color);
  margin-top: 11%;
  margin-left: 7%;
}

.content-profile-2 .content-item li .icon div {
  display: none;
}

.profile-user-footer {
  grid-area: footer;
  width: 930px;
  height: 20vh;
  margin: auto 0 0 0;
  bottom: 0;
}

.profile-user-footer footer a {
  text-decoration: none;
  margin-left: 10px;
  font-size: 0.8rem;
  color: var(--second-color-2);
}

/* detail posts */
.menu-sidebar .detail-posts {
  width: 535.9%;
  height: 100vh;
  display: none;
  top: 0;
  position: fixed;
  background-color: rgba(2, 2, 2, 0.5);
  z-index: 20;
}

.detail-posts .close-post {
  margin: 0 0 0 97%;
  font-size: 1.5rem;
  cursor: pointer;
}

.menu-sidebar .detail-posts .detail-post {
  width: 900px;
  height: 550px;
  margin: auto;
  display: grid;
  margin-top: 1%;
  background-color: #ffffff;
  z-index: 7;
  border: none;
  border-radius: 10px;
  grid-template-columns: 2fr 2fr;
  grid-template-areas: "content-post-img comment-post";
}

.detail-post .content-post-img {
  grid-area: content-post-img;
}

.content-post-img img {
  border: 1px solid var(--second-color-2);
}

.detail-post .comment-post {
  grid-area: comment-post;
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 8vh 57vh 15vh 6.7vh;
  grid-template-areas:
    "header-detail-post"
    "description-detail-post"
    "action-user-detail-post"
    "add-comment-detail-post";
}

.comment-post .header-detail-post {
  grid-area: header-detail-post;
  border-bottom: 1px solid var(--border-color);
}

.header-detail-post .header-profile-post img {
  display: block;
  margin-top: 8px;
  margin-left: 10px;
}

.header-detail-post .user-post-name {
  margin-left: 53px;
  margin-top: -27px;
  font-size: 0.8rem;
}

.header-detail-post .options,
.header-detail-post .options a {
  margin-top: -34px;
  margin-left: 31.6%;
  color: var(--second-color);
}

.comment-post .description-detail-post {
  grid-area: description-detail-post;
}

.description-detail-post .user-post-profile-img {
  margin-top: 20px;
}

.description-detail-post .user-post-profile-img img {
  display: block;
  margin-top: 8px;
  margin-left: 10px;
}

.description-detail-post .user-post-profile-description .user-post-name {
  max-width: 380px;
  margin-left: 53px;
  margin-top: -27px;
  font-size: 0.8rem;
}

.user-post-profile-description .user-post-name .time-post-description {
  color: var(--second-color-2);
}

.comment-post .action-user-detail-post {
  grid-area: action-user-detail-post;
  /* position: fixed; */
  border-top: 1px solid var(--border-color);
}

.user-action-post .icon-action a {
  display: inline-flex;
  align-items: center;
  color: var(--second-color);
  text-decoration: none;
}

.user-action-post .icon-action .comment-icon img,
.user-action-post .icon-action .paper-plane-icon img {
  margin-top: -13px;
}

.icon-action .bookmark-icon {
  margin-left: 67%;
}

.action-user-detail-post .post-like-count p {
  font-size: 0.9rem;
}

.action-user-detail-post .post-time {
  margin-top: -19px;
  font-size: 0.8rem;
  color: var(--second-color-2);
}

.comment-post .add-comment-detail-post {
  grid-area: add-comment-detail-post;
  border-top: 1px solid var(--border-color);
}

.add-comment-detail-post .add-comment label {
  margin-top: 2px;
  font-size: 1.5rem;
}

.add-comment-detail-post .add-comment input {
  margin-top: 7px;
  max-width: 400px;
  position: absolute;
  border: none;
  outline: none;
  font-size: 0.9rem;
}

.add-comment-detail-post .add-comment button {
  margin-left: 81%;
  border: none;
  background-color: var(--bg-color);
  font-size: 0.8rem;
  color: #9fd6fb;
}

.add-comment-detail-post .add-comment button:hover {
  color: var(--link-color);
}
