{% extends "base.html" %} {% load static %} {% block title %}instagram{% endblock %} {% block content %}
<div class="container-profile">
  <div class="sidebar-profile">
    <div class="item sidebar position-fixed ">
      <div class="logo"><img src="{% static "asset/img/logo.png" %}" alt="logo-instagram" class="nav-link mt-4 ms-3" /></div>

      <div class="menu-sidebar mt-4">
          <div class="sidebar-link">
            <a href="\" class="home fw-semibold ms-3"
               ><span class="icon icon-home fs-2"><i class="bx bxs-home"></i></span> <span class="span-text ms-3 fw-bold fs-5" style="margin-top: -10px">Home</span>
             </a>
           
             <a href="#" class="search ms-3"
               ><span class="icon fs-2"><i class="bx bx-search"></i></span> <span class="span-text ms-3">Search</span>
             </a>
           
             <a href="#" class="explore ms-3"
               ><span class="icon fs-4"><i class="fa-regular fa-compass"></i></span> <span class="span-text">Explore</span>
             </a>
           
             <a href="#" class="reels ms-3"><span class="icon fs-2"><img src="{% static "asset/icons/icon-rels.png" %}" alt="" width="26" style="margin-bottom: 5px" /></span> <span class="span-text">Reels</span> </a>
           
             <a href="#" class="messages ms-3"><span class="icon fs-2"><img src="{% static "asset/icons/icon-message.png" %}" alt="" width="25" style="margin-bottom: 5px" /></span> <span class="span-text">Messages</span> </a>
           
             <a href="#" class="notifications"
               ><span class="icon fs-2"><i class="bx bx-heart"></i></span> <span class="span-text ms-3">Notifications</span>
             </a>
           
             <a href="#" class="create ms-3"><span class="icon fs-2"><img src="{% static "asset/icons/icon-create.png" %}" alt="" width="23" style="margin-bottom: 5px" /></span> <span class="span-text">Create</span> </a>
           
             <a href="{% url "authy:profile" %}" class="profile ms-1"
               ><span class="icon fs-2"><img src="{% static "asset/profile-img/my-profile.jpg" %}" alt="" width="28" style="margin-bottom: 8px" class="rounded-circle" /></span> <span class="span-text">Profile</span>
             </a>
          </div>

        {% comment %} detail post {% endcomment %}
          <div class="detail-posts position-absolute">
            {% if user_posts %}
            <div class="close-post" id="close-post" onclick="closeDetailPost()"><i class="fa-solid fa-xmark text-white"></i></div>
            <div class="detail-post">
              <div class="content-post-img">
                <img src="{% static "asset/content-img/ahmed-content.jpg" %}" class="mainPostImage" id="mainPostImage" width="450" height="550" alt="">
              </div>
              <div class="comment-post">
                <div class="header-detail-post" style="border-top-right-radius: 9px; border-bottom-left-radius: 9px;">
                  <div class="header-profile-post">
                    <img src="{% static "asset/profile-img/vicky-profile.jpg" %}" width="34" alt="Story Image" class="rounded-circle" />
                  </div>
                  <div class="user-post-name position-absolute">
                    <p class="fw-semibold"><a href="#" class="text-decoration-none text-dark">{{ user.username }}</a></p>
                  </div>
                  <div class="options position-absolute">
                    <a href="#" class="fs-3 text-decoration-none"><i class="bx bx-dots-horizontal-rounded"></i></a>
                  </div>
                </div>
                <div class="description-detail-post">
                  <div class="user-post-profile-description">
                    <div class="user-post-profile-img">
                      <img src="{% static "asset/profile-img/vicky-profile.jpg" %}" width="34" alt="Story Image" class="rounded-circle" />
                    </div>
                    <div class="user-post-name position-absolute">
                      <p class="fw-semibold"><a href="#" class="text-decoration-none text-dark">{{ user.username }}</a> <span class="description-content fw-normal "> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                         Ducimus molestias, rem nemo reprehenderit suscipit modi dicta quidem non, optio adipisci facere aspernatur possimus vitae pariatur exercitationem, et quo voluptatum voluptate.
                          Sunt porro cum facilis unde dolorem reprehenderit voluptates repudiandae animi! </span>
                      </p>
                      <p class="time-post-description" style="margin-top: -15px">
                        <span>7w</span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="action-user-detail-post">
                  <div class="user-action-post">
                    <div class="icon-action mt-2">
                      <a href="#" class="fs-3 ms-2"><i class="bx bx-heart"></i></a>
                      <a href="#" class="fs-5 ms-2 comment-icon"><img src="{% static "asset/icons/icon-comment.png" %}" width="24" alt="" /></a>
                      <a href="#" class="fs-5 ms-2 paper-plane-icon"><img src="{% static "asset/icons/paper-plane-icon.png" %}" width="27" alt="" /></a>
                      <a href="#" class="fs-4 bookmark-icon"><i class="bx bx-bookmark"></i></a>
                    </div>
                  </div>
                  <div class="post-like-count ms-2 mt-1">
                    <p class="fw-medium">3,562 <span>likes</span></p>
                  </div>
                  <div class="post-time ms-2">
                    <p class="fw-medium">August <span>28</span></p>
                  </div>
                </div>
                <div class="add-comment-detail-post" style="border-bottom-right-radius: 9px;">
                  <div class="add-comment">
                    <form action="" method="post">
                      <label for="comment" class="ms-2"><i class='bx bx-wink-smile'></i></label>
                      <input type="text" name="comment" id="comment" class="ms-2" placeholder="Add comment...">
                      
                      <button type="submit" class="fw-semibold">Post</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
          </div>

        <label for="more" class="mt-5 more" style="margin-left: 20px; cursor: pointer">
          <span class="icon"><i class="fa-solid fa-bars fs-4"></i></span> 
          <span class="span-text" style="margin: 0 0 0 22px">More</span>
        </label>

        <input type="checkbox" id="more" style="display: none;">

        <div class="more-container position-absolute rounded-4" style="margin-top: -505px; width: 276px; margin-left: 15px">
          <ul>
            <li><a href="#" class="text-decoration-none text-dark"><i class='bx bxs-cog fs-4 position-absolute'></i> <span style="margin-left: 40px;">Setting</span></a></li>
            <li><a href="#" class="text-decoration-none text-dark"><i class="fa-solid fa-chart-line fs-4 position-absolute"></i> <span style="margin-left: 40px">Your activity</span></a></li>
            <li><a href="#" class="text-decoration-none text-dark"><i class='bx bx-bookmark fs-4 position-absolute'></i> <span style="margin-left: 40px">Saved</span></a></li>
            <li><a href="#" class="text-decoration-none text-dark"><i class='bx bx-sun fs-4 position-absolute'></i> <span style="margin-left: 40px">Switch apperance</span></a></li>
            <li class="top-border"><a href="#" class="text-decoration-none text-dark"><i class='bx bx-message-alt-error fs-4 position-absolute'></i> <span style="margin-left: 40px">Report a problem</span></a></li>
            <li class="bottom-border"><a href="#" class="text-decoration-none text-dark"><i class="fa-brands fa-threads fs-4 position-absolute"></i> <span style="margin-left: 40px;">Threads</span></a></li>
            <li><a href="#" class="text-decoration-none text-dark">Switch account</a></li>
            <li><a href="{% url "logout" %}" class="text-decoration-none text-dark">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% comment %} profile user section {% endcomment %}
  <div class="profile-user">
    <div class="profile-image row align-items-center">
      <div class="col-md-5 d-flex ">
        <img src="{% static "asset/profile-img/alex-profile.jpg" %}" class="position-absolute rounded-circle profile-img" width="190" alt="">
      </div>

      <div class="col-md-7 mt-5 position-absolute" style="left: 50%; top: 1%">
        <div class="action-name-user d-flex">
          <p class="name-user mt-1 fs-5">
            {{ user.username }}
          </p>

          <div class="follow-btn">
            <button class="btn btn-secondary ms-4 fw-semibold rounded-3">Edit profile</button>
          </div>

          <div class="message-btn">
            <button class="btn btn-secondary ms-2 fw-semibold rounded-3">Ad tools</button>
          </div>
          
          <div class="options-profile">
            <a href="#"><i class='bx bxs-cog fs-4 position-absolute fs-3 mt-1 ms-2 text-dark'></i></a>
          </div>
        </div>

        <div class="follower-posts-amount d-flex mt-2">
          <p class="post-amount">
              <span class="fw-semibold">{{ postValue }}</span> posts
          </p>

          <p class="follower-amount">
              <span class="fw-semibold ms-5">826k</span> followers
          </p>
          
          <p class="following-amount">
              <span class="fw-semibold ms-5">80</span> following
          </p>
        </div>

        <div class="second-name-user-profile">
          <p class="fw-semibold">Rizki Fiananda ~</p>
        </div>

        <div class="threads-user-profile" style="margin: -12px 0 0 0">
          <button class="btn rounded-5"><span><i class="fa-brands fa-threads"></i></span> rizki.cosm <span><i class='bx bxs-check-circle fs-6 ' style='color:#03a031; position: relative; margin: 0 0 0 0'></i></span></button>
        </div>

        <div class="work">
          <p>Backend Developer</p>
        </div>

        <div class="bio-user-profile" style="margin: -20px 0 0 0">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, itaque vero!</p>
        </div>

        <div class="social-media-user-profile">
          <div class="link-social-media">
            <p class="fw-semibold"><i class='bx bx-link-alt'></i> <a href="#" class="text-decoration-none">youtube.com/@deaafrizal</a> <span><i class='bx bxs-check-circle fs-6 ' style='color:#03a031; position: relative; margin: 0 0 0 0'></i></span></p>
          </div>
        </div>
      </div>

      {% comment %} highlights 1 {% endcomment %}
      <div class="col-md-5 position-absolute highlights" style="top: 35%">
          <div class="header-profile rounded-circle ">
            <img src="{% static "asset3/highlight-img/highlight-1.jpg" %}" alt="" class=" rounded-circle">
            <p class="position-absolute  title-highlight fw-medium">Lake 🏊</p>
          </div>


          {% comment %} highlights 2 {% endcomment %}

          <div class="header-profile rounded-circle ">
            <img src="{% static "asset3/highlight-img/highlight-2.jpg" %}" alt="" class=" rounded-circle">
            <p class="position-absolute  title-highlight fw-medium"> comfortable🍵</p>
          </div>

          {% comment %} highlights 3 {% endcomment %}
          <div class="header-profile rounded-circle">
            <img src="{% static "asset3/highlight-img/highlight-3.jpg" %}" alt="" class=" rounded-circle">
            <p class="position-absolute title-highlight fw-medium">🎶</p>
          </div>

          {% comment %} highlights 4 {% endcomment %}

          <div class="header-profile rounded-circle ">
            <img src="{% static "asset3/highlight-img/highlight-4.jpg" %}" alt="" class=" rounded-circle">
            <p class="position-absolute title-highlight fw-medium">🌌</p>
          </div>
      </div>
    </div>
  </div>

  {% comment %} content user section  {% endcomment %}
   <div class="content-profile">
      <div class="header-profile content-profile" style="width: 935px">
        <table class="table table-borderless text-center" style="margin: 0 auto">
          <thead>
            <tr class="fw-semibold">
              <td id="posts" class="active">
                <span><i class="fa-solid fa-table-cells"></i></span> POSTS
              </td>
              <td id="reels"><img src="{% static "asset/icons/icon-rels.png" %}" alt="" width="15" style="margin-bottom: 5px" /> REELS</td>
              <td id="saved">
                <span><i class='bx bx-bookmark'></i></span> SAVED
              </td>
              <td id="tagged">
                <span><i class="bx bx-user-pin kontak-icon"></i></span> TAGGED
              </td>
            </tr>
          </thead>
        </table>
      </div>
    </div>

    {% if postValue > 0 %}
      <div class="content-profile-2">
        <ul class="content-item">
          {% if user_posts %}
            {% for user_post in user_posts %}
                <li>
                  <div class="icon d-flex position-absolute">
                    <div class="like-icon-post-profile" style="display:none;">
                      <i class='bx bxs-heart'></i><span class="ms-1">2,765</span>
                    </div>
                    <div class="comment-icon-post-profile ms-2" style="display:none;">
                      <i class='bx bxs-message-rounded bx-flip-horizontal' style='color:#00000'></i><span class="ms-1">78</span>
                    </div>
                  </div>
                  <a href="#">
                    <img src="{{ user_post.picture.url }}" width="312" height="312" class="posts" alt="" 
                         onmouseover="displayIcon(this)" 
                         onmouseout="hideIcon(this)"
                         onclick="postClick()">
                  </a>
                </li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>

    {% else %}
      <div class="content-profile-2 ">
        <div class="null-post">
          <div class="icon rounded-circle" style="font-size: 2.8rem; padding: 9px 10.6px; border: 1px solid #000; width: 68.7px; height: 65px;">
            <i class='bx bx-camera align-items-center justify-content-center d-block ms-auto me-auto'></i>
          </div>
          <div class="text-null-post">
            <p class="fs-3 fw-bold">Share Photos</p>
          </div>
          <div class="text-null-post-2">
            <p style="font-size: .8rem; margin: -10px 0 0 0" class="text-center fw-semibold">When you share photos, they will appear on your profile.</p>
          </div>
          <div class="text-null-post-2">
            <p style="font-size: .9rem; margin: -10px 0 0 0" class="text-center fw-semibold mt-3"><a href="#" class="text-decoration-none">Share you first photo</a></p>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="profile-user-footer text-center align-items-center mt-5">
      <footer >
        <a href="#" class="ms-3 position-relative">Meta</a>
        <a href="#" class="ms-3 position-relative">About</a>
        <a href="#" class="ms-3 position-relative">Blog</a>
        <a href="#" class="ms-3 position-relative">Jobs</a>
        <a href="#" class="ms-3 position-relative">Help</a>
        <a href="#" class="ms-3 position-relative">API</a>
        <a href="#" class="ms-3 position-relative">Privacy</a>
        <a href="#" class="ms-3 position-relative">Terms</a>
        <a href="#" class="ms-3 position-relative">Top Accounts</a>
        <a href="#" class="ms-3 position-relative">Locations</a>
        <a href="#" class="ms-3 position-relative">Instagram Lite</a>
        <a href="#" class="ms-3 position-relative">Contact Uploading & Non-Users</a>
        <a href="#" class="ms-3 position-relative">Meta Verified</a>
        <a href="#" class="ms-3 position-relative">English</a>
        <a href="#" class="ms-3 position-relative">© by | RIZKI FIANANDA | 2024 Instagram from Meta</a>
      </footer>
    </div>
</div>
{% endblock %}
