{% extends "base.html" %}{% load static %} {% block title %}Instagram{% endblock %} {% block content %} {% if user.is_authenticated %}
<div class="containers">
  <!-- header -->
  <div class="item header container">
    <div class="story nav-link">
      <div class="story-item rounded-circle">
        <img src="{% static "asset/profile-img/alex-profile.jpg" %}" alt="Story Image" class="rounded-circle" />
        <div class="name">
          <p class="">Cosmos</p>
        </div>
      </div>

      <div class="story-item rounded-circle">
        <img src="{% static "asset/profile-img/profile-2.jpg" %}" alt="Story Image" class="rounded-circle" />
        <div class="name">
          <p class="">John.cx</p>
        </div>
      </div>

      <div class="story-item rounded-circle">
        <img src="{% static "asset/profile-img/profile-3.jpg" %}" alt="Story Image" class="rounded-circle" />
        <div class="name">
          <p class="">ToniKross</p>
        </div>
      </div>

      <div class="story-item rounded-circle">
        <img src="{% static "asset/profile-img/anabel.jpg" %}" alt="Story Image" class="rounded-circle" />
        <div class="name">
          <p class="">Anabel.john</p>
        </div>
      </div>

      <div class="story-item rounded-circle">
        <img src="{% static "asset/profile-img/vicky-profile.jpg" %}" alt="Story Image" class="rounded-circle" />
        <div class="name">
          <p class="">Vicky_roks1</p>
        </div>
      </div>
    </div>
  </div>

  <!-- sidebar -->
 
  {% include "sidebar.html" %}

  <!-- content -->
  <div class="item contents">
    {% for posts_item in post_items %}
    <div class="content mt-4 ms-auto me-auto">
      <div class="header-content">
        <div class="header-profile rounded-circle"><img src="{% static "asset/profile-img/vicky-profile.jpg" %}" alt="Story Image" class="rounded-circle" /></div>
        <div class="name account-name">
          <p class="fw-bold d-inline-flex align-items-center">
            {{ posts_item.user.username }}
            <span class="verified-icon ms-1"> <img src="{% static "asset/icons/verified-icon.png" %}" width="15" /> </span>
          </p>
          <div class="upload-time"><span>•</span> 5h</div>
        </div>
        <div class="options d-inline-flex">
          <a href="#" class="fs-4 text-decoration-none"><i class="bx bx-dots-horizontal-rounded"></i></a>
        </div>
      </div>

      <div class="content-image"><img src="{{ posts_item.picture.url }}" alt="" class="content-img rounded-2" /></div>

      <div class="action-user">
        <div class="icon-action mt-2">
          <a href="#" class="fs-2"><i class="bx bx-heart"></i></a>
          <a href="#" class="fs-3 comment-icon"><img src="{% static "asset/icons/icon-comment.png" %}" width="28" alt="" /></a>
          <a href="#" class="fs-3 paper-plane-icon"><img src="{% static "asset/icons/paper-plane-icon.png" %}" width="30" alt="" /></a>
          <a href="#" class="fs-3 bookmark-icon"><i class="bx bx-bookmark"></i></a>
        </div>

        <div class="like-number">
          <p class="text-dark fw-semibold mt-2">{{ posts_item.likes }} Likes</p>
        </div>

        <div class="description-content">
          <p id="short-text">
            <span class="fw-bold"><a href="#" class="text-decoration-none">{{ posts_item.user.username }}</a></span> {{posts_item.caption|truncatewords:7 }} 
          </p>
          <div id="full-text" style="display: none">
            <p><span class="fw-bold"><a href="#" class="text-decoration-none">{{ posts_item.user.username }}</a></span> {{posts_item.caption}}</p>
            <p>{% for tag in posts_item.tags.all %}<a href="{{ tag.get_absolute_url }}" class="text-decoration-none text-primary">#{{ tag }}</a>{% endfor %}</p>
          </div>
          <p id="see-more-btn" class="fw-semibold" style="display: none" onclick="btnSeeMoreClick()">See more</p>
          <p id="see-less-btn" class="fw-semibold" style="display: none" onclick="btnSeeLessClick()">See less</p>
        </div>
        <div class="translate-description-content">
          <p><a href="#" class="text-decoration-none fw-semibold">See translation</a></p>
        </div>

        <div class="view-all-comment">
          <p><a href="#" class="text-decoration-none">View all 13,384 comments</a></p>
        </div>

        <div class="add-comment">
          <p>
            <a href="#" class="text-decoration-none"><span>Add a comment…</span> <img src="{% static "asset/icons/add-comment-icon.png" %}" alt="add-expresions" /></a>
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div> 

  <!-- sidebar2 -->
  <div class="item sidebar2">
    <div class="profile-icon-sidebar2">
      <div class="profile-sidebar2-image"><img src="{% static "asset/profile-img/my-profile.jpg" %}" width="56" alt="profile image" class="rounded-circle" /></div>
      <div class="name position-absolute">
        <p class="ms-5 fw-bold"><a class="text-decoration-none text-dark" href="{% url "profile" user %}">{{ user.username }}</a></p>
        <p class="ms-5 second-name">@{{ user.username }}</p>
      </div>

      <div class="switch-account position-absolute">
        <a href="#" class="fw-semibold text-decoration-none">Switch</a>
      </div>
    </div>

    <div class="suggestions-account">
      <div class="suggestion-text mt-3">
        <p class="fw-semibold">
          Suggestions for you <span><a href="#" class="text-dark text-decoration-none">See All</a></span>
        </p>
      </div>

      {% for user in all_users|slice:":5" %}
      <div class="suggestion-account mt-4">
        <div class="profile-suggestion-image"><img src="{% static "asset/profile-img/emiliano-profile.jpg" %}" width="40" alt="profile image" class="rounded-circle" /></div>
        <div class="name-suggestion-account position-absolute">
          <p class="ms-5 fw-bold"><a href="{% url "other_user_profile" user %}" class="text-decoration-none text-dark">{{ user.username }}</a></p>
          <p class="ms-5 second-name-suggestion">Followed by {{ user.username }}</p>
        </div>

        <div class="follow-description-follow position-absolute">
          <a href="#" class="fw-semibold text-decoration-none">Follow</a>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="footer-sidebar2 mt-4">
      <a href="#">About</a> <span>•</span> <a href="#">Help</a> <span>•</span> <a href="#">Press</a> <span>•</span> <a href="#">API</a> <span>•</span> <a href="#">Jobs</a> <span>•</span> <a href="#">Privacy</a> <span>•</span>
      <a href="#">Terms</a> <span>•</span> <a href="#">Locations</a> <span>•</span> <a href="#">Language</a> <span>•</span> <a href="#">Meta Verified</a>

      <div class="instagram-meta mt-3 fw-semibold">
        <p>© 2024 Instagram from Meta</p>
      </div>
    </div>
  </div>
</div>
{% else %}
<section class="containers-not-login" style="font-family: 'Roboto'">
  <nav class="navbar navbar-expand-lg bg-white border-bottom">
    <div class="container" style="margin-right: 12%; margin-left: 12%">
      <a class="navbar-brand" href="#"><img src="{% static "asset/img/logo.png" %}" alt=""></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item btn-login">
            <a class="nav-link btn text-white active mt-1 rounded-3 fw-medium" style="background-color: #0095f6; padding: 5px 13px" aria-current="page" href="{% url "login" %}">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-medium" href="{% url "register" %}" style="color: #0095f6">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>

<section class="main-content" style="height: 115vh">
  <div class="container">
    <p class="text-main-content text-center fw-bold fs-5 mt-2">Discover something new</p>

    <div class="category-content" style="margin-right: 4.5%; margin-left: 4.5%">
      <ul class="category-item d-flex">
        <li class="btn active"><a href="#" class="fw-bold text-dark align-items-center justify-content-center">Knotless Braids</a></li>
        <li class="btn active"><a href="#" class="fw-bold text-dark align-items-center justify-content-center">Bloxburg House</a></li>
        <li class="btn active"><a href="#" class="fw-bold text-dark align-items-center justify-content-center">Tattoos</a></li>
        <li class="btn active"><a href="#" class="fw-bold text-dark align-items-center justify-content-center">Corn Starches</a></li>
        <li class="btn active"><a href="#" class="fw-bold text-dark align-items-center justify-content-center">Acrylic Nails</a></li>
        <li class="btn active"><a href="#" class="fw-bold text-dark align-items-center justify-content-center">Hairstyles</a></li>
        <li class="btn active"><a href="#" class="fw-bold text-dark align-items-center justify-content-center">Quotes</a></li>
        <li class="btn active"><a href="#" class="fw-bold text-dark align-items-center justify-content-center">Photography</a></li>
        <div class="fs-2 rounded-circle"><i class="bx bx-chevron-right"></i></div>
      </ul>
    </div>

    <div class="container-content">
      <div class="content-category mt-4" style="margin-right: 7.3%; margin-left: 7.3%">
        <div class="item">
          <a href="#" class="text-decoration-none text-black fw-semibold"><span style="margin-top: -4px">Audio & Music</span></a>
          <i class="bx bx-chevron-right fs-4 position-absolute"></i>
        </div>
      </div>

      <div class="content mt-3" style="margin-right: 7.3%; margin-left: 7.3%">
        <div class="row">
          <div class="col-md-2 img-content">
            <img width="160" height="270" class="rounded-2 " src="{% static "asset/content-item/audio_music_img/audio_music-1.jpg" %}" alt="">
            <p class="position-absolute text-white fw-semibold" style="margin-top: -24px">K-Pop Music</p>
          </div>
          <div class="col-md-2 img-content">
            <img width="160" height="270" class="rounded-2 " src="{% static "asset/content-item/audio_music_img/audio_music-2.jpg" %}" alt="">
            <p class="position-absolute text-white fw-semibold" style="margin-top: -24px">Alternative Music</p>
          </div>
          <div class="col-md-2 img-content">
            <img width="160" height="270" class="rounded-2 " src="{% static "asset/content-item/audio_music_img/audio_music-3.jpg" %}" alt="">
            <p class="position-absolute text-white fw-semibold" style="margin-top: -24px">Rock Music</p>
          </div>
          <div class="col-md-2 img-content">
            <img width="160" height="270" class="rounded-2 " src="{% static "asset/content-item/audio_music_img/audio_music-4.jpg" %}" alt="">
            <p class="position-absolute text-white fw-semibold" style="margin-top: -24px">Hip Hop & Rap Music</p>
          </div>
          <div class="col-md-2 img-content">
            <img width="160" height="270" class="rounded-2 img-content" src="{% static "asset/content-item/audio_music_img/audio_music-6.jpg" %}" alt="">
            <p class="position-absolute text-white fw-semibold" style="margin-top: -24px">Singer-Songwriters</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-content">
      <div class="content-category mt-4" style="margin-right: 7.3%; margin-left: 7.3%">
        <div class="item">
          <a href="#" class="text-decoration-none text-black fw-semibold"><span style="margin-top: -4px">Sports</span></a>
          <i class="bx bx-chevron-right fs-4 position-absolute"></i>
        </div>
      </div>

      <div class="content mt-3" style="margin-right: 7.3%; margin-left: 7.3%">
        <div class="row">
          <div class="col-md-2 img-content">
            <img width="160" height="270" class="rounded-2 " src="{% static "asset/content-item/sports_img/sports-img-1.jpg" %}" alt="">
            <p class="position-absolute text-white fw-semibold" style="margin-top: -24px">Hockey</p>
          </div>
          <div class="col-md-2 img-content">
            <img width="160" height="270" class="rounded-2" style="opacity: 3" src="{% static "asset/content-item/sports_img/sports-img-2.jpg" %}" alt="">
            <p class="position-absolute text-white fw-semibold" style="margin-top: -24px">Baseball</p>
          </div>
          <div class="col-md-2 img-content">
            <img width="160" height="270" class="rounded-2 " src="{% static "asset/content-item/sports_img/sports-img-3.jpg" %}" alt="">
            <p class="position-absolute text-white fw-semibold" style="margin-top: -24px">High jump</p>
          </div>
          <div class="col-md-2 img-content">
            <img width="160" height="270" class="rounded-2 " src="{% static "asset/content-item/sports_img/sports-img-4.jpg" %}" alt="">
            <p class="position-absolute text-white fw-semibold" style="margin-top: -24px">Ice Skating</p>
          </div>
          <div class="col-md-2 img-content">
            <img width="160" height="270" class="rounded-2 img-content" src="{% static "asset/content-item/sports_img/sports-img-5.jpg" %}" alt="">
            <p class="position-absolute text-white fw-semibold" style="margin-top: -24px">Long jump</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-content">
      <div class="content-category mt-4" style="margin-right: 7.3%; margin-left: 7.3%">
        <div class="item">
          <a href="#" class="text-decoration-none text-black fw-semibold"><span style="margin-top: -4px">Games</span></a>
          <i class="bx bx-chevron-right fs-4 position-absolute"></i>
        </div>
      </div>

      <div class="content mt-3 mb-3" style="margin-right: 7.3%; margin-left: 7.3%">
        <div class="row">
          <div class="col-md-2 img-content">
            <img width="160" height="270" class="rounded-2 " src="{% static "asset/content-item/games-img/games-img-1.jpg" %}" alt="">
            <p class="position-absolute text-white fw-semibold" style="margin-top: -24px">Tricks</p>
          </div>
          <div class="col-md-2 img-content">
            <img width="160" height="270" class="rounded-2" style="opacity: 4" src="{% static "asset/content-item/games-img/games-img-2.jpg" %}" alt="">
            <p class="position-absolute text-white fw-semibold" style="margin-top: -24px">Cards</p>
          </div>
          <div class="col-md-2 img-content">
            <img width="160" height="270" class="rounded-2 " src="{% static "asset/content-item/games-img/games-img-3.jpg" %}" alt="">
            <p class="position-absolute text-white fw-semibold" style="margin-top: -24px">Toys</p>
          </div>
          <div class="col-md-2 img-content">
            <img width="160" height="270" class="rounded-2 " src="{% static "asset/content-item/games-img/games-img-4.jpg" %}" alt="">
            <p class="position-absolute text-white fw-semibold" style="margin-top: -24px">Strategi</p>
          </div>
          <div class="col-md-2 img-content">
            <img width="160" height="270" class="rounded-2 img-content" src="{% static "asset/content-item/games-img/games-img-5.jpg" %}" alt="">
            <p class="position-absolute text-white fw-semibold" style="margin-top: -24px">Console</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %} {% endblock %}
