{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %}

{% block content %}
 <!-- sidebar -->
  <div class="item sidebar position-fixed">
    <div class="logo"><img src="{% static "asset/img/logo.png" %}" alt="logo-instagram" class="nav-link mt-4 ms-3" /></div>

    <div class="menu-sidebar mt-4">
      <div class="sidebar-link">
          <a href="\" class="home fw-semibold ms-3"
             ><span class="icon icon-home fs-2"><i class="bx bxs-home"></i></span> <span class="span-text ms-3 fw-bold fs-5" style="margin-top: -10px">Home</span>
          </a>
         
          <a href="#" class="search ms-3"
             ><span class="icon fs-2"><i class="bx bx-search"></i></span> <span class="span-text ms-3">Search</span>
          </a>
         
          <a href="#" class="explore ms-3"
             ><span class="icon fs-4"><i class="fa-regular fa-compass"></i></span> <span class="span-text">Explore</span>
          </a>
         
          <a href="#" class="reels ms-3"><span class="icon fs-2"><img src="{% static "asset/icons/icon-rels.png" %}" alt="" width="26" style="margin-bottom: 5px" /></span> <span class="span-text">Reels</span> </a>
         
          <a href="#" class="messages ms-3"><span class="icon fs-2"><img src="{% static "asset/icons/icon-message.png" %}" alt="" width="25" style="margin-bottom: 5px" /></span> <span class="span-text">Messages</span> </a>
         
          <a href="#" class="notifications"
             ><span class="icon fs-2"><i class="bx bx-heart"></i></span> <span class="span-text ms-3">Notifications</span>
          </a>
         
          <a class="create ms-3" onclick="createNewPost()" style="cursor: pointer"><span class="icon fs-2"><img src="{% static "asset/icons/icon-create.png" %}" alt="" width="23" style="margin-bottom: 5px" /></span> <span class="span-text">Create</span> </a>
            <div class="slide position-absolute">
              <div class="close" id="close" onclick="closeCreatePost()"><i class="fa-solid fa-xmark text-white"></i></div>
              <div class="create-post rounded-3">
                <div class="title text-center" style="padding: 10px 20px; height: 45px; width: 100%;">
                  <p class="fw-bold">Create new post</p>
                </div>
                <div class="upload-content-1">
                  <div class="icon">
                    <img src="{% static "asset/icons/icon-create-post.png" %}" width="150" alt="">
                  </div>
                  <div class="text-create-post">
                    <p class="text-center fs-5">Drag photos and videos here</p>
                  </div>
                  <div class="button-create-post text-center">
                     <button  class="btn" style="background-color: #1877f2; color: #fff"><a href="{% url "newPost" %}" class="text-white">Select from computer</a></button>
                  </div>
                </div>
              </div>
            </div>
         
          <a href="{% url "authy:profile" %}" class="profile ms-1"
             ><span class="icon fs-2"><img src="{% static "asset/profile-img/my-profile.jpg" %}" alt="" width="28" style="margin-bottom: 8px" class="rounded-circle" /></span> <span class="span-text">Profile</span>
          </a>
      </div>

      <label for="more" class="mt-5 more" style="margin-left: 20px; cursor: pointer">
        <span class="icon"><i class="fa-solid fa-bars fs-4"></i></span> 
        <span class="span-text" style="margin: 0 0 0 22px">More</span>
      </label>

      <input type="checkbox" id="more" style="display: none;">

      <div class="more-container position-absolute rounded-4" style="margin-top: -505px; width: 276px; margin-left: 15px">
        <ul>
          <li><a href="#" class="text-decoration-none text-dark"><i class='bx bxs-cog fs-4 position-absolute'></i> <span style="margin-left: 40px;">Setting</span></a></li>
          <li><a href="#" class="text-decoration-none text-dark"><i class="fa-solid fa-chart-line fs-4 position-absolute"></i> <span style="margin-left: 40px">Your activity</span></a></li>
          <li><a href="#" class="text-decoration-none text-dark"><i class='bx bx-bookmark fs-4 position-absolute'></i> <span style="margin-left: 40px">Saved</span></a></li>
          <li><a href="#" class="text-decoration-none text-dark"><i class='bx bx-sun fs-4 position-absolute'></i> <span style="margin-left: 40px">Switch apperance</span></a></li>
          <li class="top-border"><a href="#" class="text-decoration-none text-dark"><i class='bx bx-message-alt-error fs-4 position-absolute'></i> <span style="margin-left: 40px">Report a problem</span></a></li>
          <li class="bottom-border"><a href="#" class="text-decoration-none text-dark"><i class="fa-brands fa-threads fs-4 position-absolute"></i> <span style="margin-left: 40px;">Threads</span></a></li>
          <li><a href="#" class="text-decoration-none text-dark">Switch account</a></li>
          <li><a href="{% url "logout" %}" class="text-decoration-none text-dark">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock  %}
